# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

# Visual Studio / JetBrains
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Packages
Packages/com.unity.*
Packages/manifest.json

# Unity Cloud Build
.cloud/

# Crashlytics
crashlytics-build.properties

# Outros ficheiros grandes
*.apk
*.aab
*.log
